@import '../common/variables.sass'
.explore
    margin-top: 1.5rem
    margin-left: calc( #{$side-nav-width})
    padding: 0rem 2rem
    .explore-container
        display: flex
        justify-content: space-around
        padding: 1rem
        border-radius: $borderbox-radius
        box-shadow: -2px -2px 4px $light-sh-b, 2px 2px 4px $light-sh-d
        height: 70vh
        h1
            margin: 0
            font-size: 1.5rem
            margin-bottom: 0.6rem
            color: $accent-color
            font-weight: 400
        .left-container
            border-radius: $borderbox-radius
            padding: 1rem
            width: 50%
            box-shadow: -2px -2px 4px $light-sh-b, 2px 2px 4px $light-sh-d
            border-radius:
            .pop-collections
                overflow-y: scroll
                height: calc( 100% - 2.5rem )
                display: flex
                flex-wrap: wrap
                justify-content: space-between
                .bg
                    margin: 0.6rem 0.6rem
                    height: 180px
                    width: 180px
                    border-radius: 15px
                    overflow: hidden
                    box-shadow: inset -2px -2px 2px $dark-sh-b, inset 2px 2px 2px $dark-sh-d
                    .pop-collection
                        height: 100%
                        cursor: pointer
                        display: flex
                        flex-direction: column
                        justify-content: flex-end
                        p
                            margin-bottom: 1rem
                            text-align: left
                            margin: 1rem 0.2rem
                            margin-left: 1rem
                            color: white
                            opacity: 0
                            transition: 0.05s
                        &:hover
                            background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7))
                            p
                                opacity: 1
        .right-container
            width: 45%
            display: flex
            flex-wrap: wrap
            justify-content: center
            height: 100%
            .top
                width: 100%
                height: calc( 50% - 1rem)
                display: flex
                justify-content: space-between
                .top-left
                    width: 60%
                    box-shadow: -2px -2px 4px $light-sh-b, 2px 2px 4px $light-sh-d
                    border-radius: $borderbox-radius
                    padding: 0.7rem
                    .pop-snippets
                        height: calc( 100% -  2.9rem)
                        overflow-y: scroll
                        padding: 0.3rem
                        .pop-snippet
                            align-items: center
                            display: flex
                            box-shadow: -2px -2px 4px $light-sh-b, 2px 2px 4px $light-sh-d
                            border-radius: 15px
                            margin-bottom: 1rem
                            padding: 0.3rem
                            cursor: pointer
                            &:hover
                                box-shadow: inset -2px -2px 1px $light-sh-b, inset 2px 2px 4px $light-sh-d

                            .mat-icon
                                height: 40px
                                width: 40px
                                color: white
                                border-radius: 50%
                            .title
                                color: $light-bg
                                margin-left: 1rem
                .top-right
                    width: 30%
                    box-shadow: -2px -2px 4px $light-sh-b, 2px 2px 4px $light-sh-d
                    border-radius: $borderbox-radius
                    padding: 1rem
                    .tags
                        display: flex
                        flex-wrap: wrap
                        justify-content: space-around
                        align-items: center
                        height: calc(100% - 2.9rem)
                        .random-tag
                            height: 70px
                            width: 70px
                            border-radius: 15px
                            margin-bottom: 1rem
                            padding: 0.7rem
                            cursor: pointer
                            display: flex
                            align-items: center
                            box-shadow: inset -2px -2px 2px $dark-sh-b, inset 2px 2px 2px $dark-sh-d

            .bottom
                border-radius: $borderbox-radius
                margin-top: 1rem
                width: calc( 100% - 2rem )
                height: calc( 50% - 1rem)
                box-shadow: -2px -2px 4px $light-sh-b, 2px 2px 4px $light-sh-d
                font-size: 3rem
                font-weight: 100
                letter-spacing: 0.2rem
                background: $accent-color
                color: $light-bg
                border: 0.5rem solid $light-bg

        .dark &
            box-shadow: -2px -2px 4px $dark-sh-b, 2px 2px 4px $dark-sh-d
            .left-container
                box-shadow: -2px -2px 4px $dark-sh-b, 2px 2px 4px $dark-sh-d
            .right-container
                .top
                    .top-left
                        box-shadow: -2px -2px 4px $dark-sh-b, 2px 2px 4px $dark-sh-d
                        .pop-snippets
                            .pop-snippet
                                box-shadow: -2px -2px 4px $dark-sh-b, 2px 2px 4px $dark-sh-d
                                &:hover
                                    box-shadow: inset -2px -2px 2px $dark-sh-d, inset 2px 2px 4px $dark-sh-d

                    .top-right
                        box-shadow: -2px -2px 4px $dark-sh-b, 2px 2px 4px $dark-sh-d
                        .tags

                .bottom
                    border: 0.5rem solid $dark-bg
                    color: $dark-bg
                    box-shadow: -2px -2px 4px $dark-sh-b, 2px 2px 4px $dark-sh-d

@media screen and (max-width: 800px)
    .explore
        margin-top: 0.5rem
        margin-left: 0
        padding: 0rem 0.7rem
        .explore-container
            flex-direction: column
            height: auto
            h1
            .left-container
                border-radius: $borderbox-radius
                padding: 0.2rem
                box-shadow: none
                width: calc( 100% -  0.4rem)
                .pop-collections
                    display: flex
                    flex-wrap: wrap
                    justify-content: space-around
                    .bg
                        margin: 0.2rem 0.2rem
                        height: 150px
                        width: 150px
                        border-radius: 15px
                        overflow: hidden
                        box-shadow: inset -2px -2px 2px $dark-sh-b, inset 2px 2px 2px $dark-sh-d
                        .pop-collection
                            height: 100%
                            cursor: pointer
                            display: flex
                            flex-direction: column
                            justify-content: flex-end
                            background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7))
                            p
                                margin-bottom: 1rem
                                text-align: left
                                margin: 1rem 0.2rem
                                margin-left: 1rem
                                color: white
                                opacity: 1
                                transition: 0.05s
                                font-size: 0.8rem
                                width: calc(100% - 0.4rem)
                                text-overflow: ellipsis
                                overflow: hidden
                            &:hover
                                background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7))
                                p

            .right-container
                width: 100%
                .top
                    flex-wrap: wrap
                    .top-left
                        width: 100%
                        margin-top: 1rem
                        padding: 0.2rem
                        box-shadow: none
                    .top-right
                        width: 100%
                        margin-top: 1rem
                        margin-bottom: 3rem
                        padding: 0.2rem
                        box-shadow: none
                .bottom
                    display: none

            .dark &
                .left-container
                    box-shadow: none
                .right-container
                    .top
                        .top-left
                            box-shadow: none
                        .top-right
                            box-shadow: none
