$Logo-size: 5rem
$form-width: 23rem
$form-font: 1.6rem   
@import '../common/variables.sass'
.login
    height: 100vh
    width: 100vw
    background: $primary-color

    .Logo-container
        padding-top: 100px
        .streak
            height: calc(#{$Logo-size}/3)
            margin-top: 5px
            animation: swipe
            animation-duration: 1s

        @keyframes swipe
            0%
                width: 0vw
            100%
                width: 100vw
        .blue
            background: #2d4059
        .red
            background: #ea5455
        .beige
            background: #decdc3
        .LOGO
            text-align: center
            user-select: none
            font-size: calc(#{$Logo-size}*1.2)
            color: $primary-color
            position: relative
            top: calc(#{$Logo-size}*-1*1.25)

    section
        display: flex
        justify-content: center
        position: relative
        top: calc(#{$Logo-size}*-1)
        form
            display: flex
            flex-direction: column
            justify-content: center
            align-items: flex-start
            padding: 25px
            background: $light-bg-step
            box-shadow: 2px 2px 10px 1px $light-shadow
            border-radius: 20px
            min-height: 50vh
            h1
                padding: 0
                margin: 0
                color: #2d4059
                font-size: calc(#{$form-font} * 2)
            h2
                margin: 0
                color: #2d4059
                font-size: calc(#{$form-font} * 0.7)
                margin-bottom: 40px
            label
                color: #2d4059
                font-size: calc(#{$form-font} * 0.8)
                margin-top: 0px
                padding: 1px 2px
                font-weight: 100
            input
                background: #efefef
                border: none
                box-shadow: 0px 0px 5px 0px #0000001f
                font-size: calc(#{$form-font} * 0.6)
                margin-top: 5px
                padding: 10px
                border-radius: 10px
                min-width: $form-width
            p
                color: red
            .toggle
                font-weight: 100
                cursor: pointer
                font-size: calc(#{$form-font} * 0.5)
                transition: 0.4s
                &:hover
                    transform: scale(1.05)
            button
                background: #314969
                border: 3px solid #2d4059
                font-size: calc(#{$form-font} * 0.8)
                display: block
                cursor: pointer
                transition: 0.5s
                color: $primary-color
                width: 100%
                padding-top: 10px
                padding-bottom: 10px
                border-radius: 10px
                margin-top: 20px

                &:hover
                    background: #3e5f8c
