.main {
}
.sliderContainer {
  margin: 0 30px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  /* border: 2px solid white; */
  overflow-x: scroll;
  overflow-y: visible;
  height: 50vh;
}
.card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0px 6px;
  height: 170px;
  min-width: 300px;
  background-color: white;
  color: black;
  border-radius: 2px;
  transition: all ease-in-out 0.3s;
  cursor: pointer;
}

.slickCustom {
  width: 300px !important;
}

.card:hover {
  background-color: rosybrown;
  min-width: 380px;
  height: 300px;
  justify-content: center;
}

.slickCustom:hover {
  height: 200px;
  width: 330px;
}

.card:hover .desc {
  transform: scale(1);
  opacity: 1;
}

.name {
  font-size: 2rem;
}
.owner {
  font-size: 1rem;
}

.desc {
  text-align: center;
  transform: scale(0);
  opacity: 0;
  transition: opacity ease-in 0.3s;
}

.info {
}

.loader {
}

.btn {
  padding: 0 15px;
  display: flex;
  align-items: center;
  cursor: pointer; /* Mouse pointer on hover */
  transition: 0.3s;
  height: 50%;
}

.btn:hover {
  transform: scale(1.2);
}

.addCollectionIcon {
  color: #bafffe;
  font-size: 2rem;
}

.newCollectionDiv {
  padding: 0px;

  height: 60vh;
  background-color: rgba(89, 0, 255, 0.7);
  transition: 0.5s;
  overflow: hidden;
}

.collectionDetailView {
  padding: 0 30px;

  height: 60vh;
  background-color: rgba(230, 21, 21, 0.7);
  transition: 0.5s;
  overflow: hidden;
}

.collectionDetailView h1 {
  text-align: center;
  text-transform: uppercase;
}

.hide {
  height: 0vh;
}

.newCollectionDiv h4 {
  text-align: center;
  font-size: 1.8rem;
  margin-top: 30px;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.collectionDetailView h1 span {
  color: #f6f7eb;
}
.footer {
  height: 30vh;
}

/* HELPERS  */
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.sides {
  height: 100%;
  width: 25%;
  background: url(../assets/images/shelf.jpg) center / cover;
  opacity: 0.6;
}

.focus {
  height: 100%;
  width: 60%;
  color: white;
  flex-direction: column;
  height: 100%;
}

.focus input {
  background: none;
  border: none;
  outline: none;
  font-size: 13px;
  color: rgb(190, 190, 190);
  padding: 18px 5px 15px 25px;
  box-shadow: inset 8px 8px 8px #00000017, inset -8px -8px 8px #fafafa17;
  width: 80%;
}

.singleLineInput {
  margin-bottom: 30px;
  border-radius: 25px;
  height: 100px;
}
.multiLineInput {
  margin-bottom: 30px;
  border-radius: 25px;
  height: 200px;
}

.submitbutton {
  outline: none;
  border: none;
  cursor: pointer;
  width: 85%;
  height: 80px;
  border-radius: 30px;
  font-size: 15px;
  font-weight: 700;
  color: #fff;
  text-align: center;
  background: #00b8af3d;
  box-shadow: 3px 3px 8px #393e4941, -3px -3px 8px #0e10132a;
  transition: 0.5s;
  margin-bottom: 30px;
}

.submitbutton:hover {
  background: #00d9ce;
}

.submitbutton:active {
  background: #00fff2;
}

.slickContainer {
  width: 90%;
  margin: 0px auto;
}
