.main{

}
.collectionContainer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border: 2px solid white;
  flex-wrap: wrap;
  margin: 0 70px;;
  padding: 0 70px;;
}
.collection {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 25px 12px;
  height: 200px;
  width: 200px;
  background-color: white;
  color:black;
  border-radius: 25px;
}

.collection:hover {
  background-color: rosybrown;
}
.name {

    font-size: 2rem;
}
.owner {
    font-size: 1rem;
}

.info {
  
}

.loader {

}