.main {
  /* frontend\src\assets\images\cover.jpeg */
  background: url("../assets/images/cover-collections-dark.jpeg") center / cover;
  min-height: 100vh;
}
.body {
  padding: 0px;
}

.title {
  padding-top: 2%;
  text-align: center;
  font-size: 2rem;

}

/* .container {
  display: flex;
  justify-content: space-evenly;
  padding: 1% 10%;
  flex-wrap: wrap;
  flex-direction: row;
} */

.slider {
}
