.root {
  background-color: #282c34;
}
.input {
  border: none;
  outline: none;
  background: none;
}
.super {
  background: url(../assets/images/cover.jpeg) center / cover;
  background-attachment: fixed;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: 0.3s;
}

.sm {
  height: 8vh;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.welcome {
  font-size: 3.5rem;
  transition: 0.3s;
}
.username {
  text-transform: capitalize;
  color: rosybrown;
}
.welcomesub {
  font-size: 1.2rem;
  padding-bottom: 35px;
  transition: 0.3s;
}
.shrink {
  transform: scale(0.47);
  transition: 0.7s;
}
.loginForm {
  display: none;
}
.nav {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 8%;
  width: 100%;
  opacity: 0.02;
  transition: 0.5s;
  overflow: hidden;
  /* temp */
}

.visible {
  opacity: 1;
}

.bodyContainer {
  background: url(../assets/images/land.jpeg) center / cover;
  padding-top: 45px;
  min-height: 86vh;
  background-attachment: fixed;
}

.cellHeader {
    padding-left: 45px;
    font-size: 2rem;
}
