.nav {
    min-height: 100%;
    background-color: #1a1d22;
    margin: 0px;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    font-size: 1.5rem;    
}

.label {
    padding-left: 10px;
    text-decoration: none;
    color: white;
}

.usercontrol a {
    text-decoration: none;
    color: white;
}