.nav {
    min-height: 100%;
    background-color: #1a1d22;
    margin: 0px;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    font-size: 1.5rem;    
}

.label {
    padding-left: 10px;
    text-decoration: none;
    color: white;
}

.usercontrol a {
    text-decoration: none;
    color: white;
}

.btn {
  background: none;
  border: none; /* Remove borders */
  cursor: pointer; /* Mouse pointer on hover */
  transition: 0.3s;
  color:grey;
  font-size: 1.3rem;   
}

.btn:hover {
  color: white;
}

.icon {
 color: white;
}

.icon:hover {
  color: #00b8af;
}

.login a {
  transition: 0.3s;
  color:grey;
  font-size: 1.4rem;
  font-size: 1.3rem; 
}

.login a:hover {
  color: white;
}