@import '../common/variables.sass'
$tile-bg: $primary-color
$margin: 15px
$search-width: 300px
$height: calc( #{$nav-height} - #{$margin} )
.navbar
    margin: 15px 0px
    display: flex
    justify-content: space-between
    align-items: center
    
    .nav-left
        .logo
            margin-left: $margin
            height: $height
            float: left
            width: 300px
            background: $primary-color
            filter: brightness($accent-per)
        .back
            float: left
            margin-left: 2rem
            height: calc( #{$height} - 0.7rem)
            width: calc( #{$height} - 0.7rem)
            background: $primary-color
            filter: brightness($accent-per)
            box-shadow: 3px 3px 20px $light-shadow
            border-radius: 50%
            color: $icon-color
            transition: 0.2s
            cursor: pointer
            &:hover
                transform: scale(1.1)
            .dark &
                background: $dark-bg-step
                box-shadow: 3px 3px 20px $dark-shadow
                color: white
            

        .nav-search
            height: $height
            float: left
            margin-left: 1rem
            border-radius: 30px
            box-shadow: 3px 3px 20px $light-shadow
            background: $light-bg-step
            display: flex
            align-items: center
            .search-icon
                margin-left: 15px
                color: $icon-color
            .dark &
                background: $dark-bg-step
                box-shadow: 3px 3px 20px $dark-shadow

            input
                padding: 0px
                border: none
                background: inherit
                float: left
                border-radius: 30px
                margin-left: 10px
                transition: width 0.4s ease-in
                height: 100%
                width: $search-width
                color: $accent-color
                &::placeholder
                    color: $text-color
                &:focus
                    width: calc( #{$search-width} + 400px)

    .nav-control
        display: flex
        align-items: center
        justify-content: space-between
        width: 300px
        height: calc( #{$nav-height} - 10px )
        margin-right: $margin
        border-radius: 30px
        float: right
        background: $light-bg-step
        box-shadow: 3px 3px 20px $light-shadow

        .dark &
            background: $dark-bg-step
            box-shadow: 3px 3px 20px $dark-shadow

        .icon
            height: calc( #{$nav-height} - 20px )
            width: calc( #{$nav-height} - 20px )
            background: $accent-color
            border-radius: 50%
            margin-left: 10px
            box-shadow: 3px 3px 20px $light-shadow
            color: $light-bg
            cursor: pointer
            transition: 0.2s
            &:hover
                transform: scale(0.95)
            .dark &
                box-shadow: 3px 3px 20px $dark-shadow
                color: $dark-bg

        .user-icon
            height: $nav-height
            width: $nav-height
            background: black
            border-radius: 50%
            cursor: pointer
