$header-size: 24px
$subtitle-size: 18px
$text-size: 12px

$light-bg: #EBECF0
$dark-bg: #2C2F33

$light-sh-b: #FFFFFF
$light-sh-d: #C8C9CC

$dark-sh-b: #3B4451
$dark-sh-d: #000000

$nav-height: 70px
$side-nav-width: 80px
$borderbox-radius: 25px    

.center
    display: flex
    justify-content: center
    align-items: center

$light-bg-step: #F5F6FA
$light-bg-step2: scale-color($light-bg, $lightness: 60%)
$dark-bg-step: scale-color($dark-bg, $lightness: 5%)
$dark-bg-step2: scale-color($dark-bg, $lightness: 15%)

$light-color: $dark-bg
$dark-color: $light-bg

$light-shadow: #0000001f
$tile-loading-color: #e5e5e5
$accent-color: #ea5455

.c1
    background: #ff414d
.c2
    background: #fddb3a 
.c3
    background: #5c2a9d
.c4
    background: #55D6BE
.c5
    background: #d65560
.c6
    background: #79d70f
.c7
    background: #5568d6
.c8
    background: #30475e
.ca
    background: $accent-color
.a1
    color: #ff414d
.a2
    color: #fddb3a 
.a3
    color: #5c2a9d
.a4
    color: #55D6BE
.a5
    color: #d65560
.a6
    color: #79d70f
.a7
    color: #5568d6
.a8
    color: #30475e
.aa
    color: $accent-color