$header-size: 24px
$subtitle-size: 18px
$text-size: 12px

$light-bg: #EBECF0
$dark-bg: #2C2F33

$light-sh-b: #FFFFFF
$light-sh-d: #C8C9CC

$dark-sh-b: #3B4451
$dark-sh-d: #000000

$nav-height: 70px
$side-nav-width: 80px
$borderbox-radius: 25px    

.center
    display: flex
    justify-content: center
    align-items: center

$light-bg-step: #F5F6FA
$light-bg-step2: scale-color($light-bg, $lightness: 60%)
$dark-bg-step: scale-color($dark-bg, $lightness: 5%)
$dark-bg-step2: scale-color($dark-bg, $lightness: 15%)

$light-color: $dark-bg
$dark-color: $light-bg

$light-shadow: #0000001f
$tile-loading-color: #e5e5e5
$accent-color: #ea5455

.c1
    background: #DDFBD2
.c2
    background: #7D5BA6 
.c3
    background: #FC6471
.c4
    background: #55D6BE
.a1
    color: #DDFBD2
.a2
    color: #7D5BA6 
.a3
    color: #FC6471
.a4
    color: #55D6BE