/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */
/* play around with this */
@keyframes expand {
  0% {
    width: 0vw;
    opacity: 0;
  }
  40% {
    width: 82vw;
  }
  100% {
    opacity: 1;
  }
}
/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */
.nav {
  width: 95%;
  margin: 0px auto;
  padding-top: 20px;
}

.backIcon {
  color: #b1d4e0;
  font-size: 1.3rem;
  padding-left: 10px;
  transition: 0.3s;
  cursor: pointer;
}

.backIcon:hover {
  transform: scale(1.1);
  color: #00fff0;
}

.nav h1 {
  float: right;
  font-size: 1.3rem;
  font-weight: lighter;
  text-transform: capitalize;
  color: #b1d4e0;
  margin: 0;
}

.moreIcon {
  padding-left: 10px;
  position: relative;
  top: 2px;
  cursor: pointer;
}

.moreIcon:hover {
  color: #00fff0;
}

.loading-error {
  text-align: center;
  padding-top: 25px;
  font-size: 1.4rem;
}

.container {
  width: 95%;
  margin: 0px auto;
  padding-top: 20px;
}

.cardDetails {
  width: 100%;
  height: 240px;
  padding: 0;
  display: flex;
  margin-bottom: 20px;
}
.collectioncard {
  height: 100%;
  width: 240px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  text-align: center;
  text-transform: capitalize;
  border-radius: 20px;
}
.collectionText {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
  margin-left: 20px;
  width: 75%;
}
.collectionText button {
  border-radius: 10px;
  border: none;
  cursor: pointer;
  padding: 4px 8px;
  margin-right: 6px;
  text-transform: uppercase;
}

.collectionText button:hover {
  background: #b1d4e0;
}

.likes {
  font-size: 80%;
  color: #e5e5e5;
}

.like {
  font-size: 2.6rem;
  transition: 0.4s;
  cursor: pointer;
  padding: 10px 0px;
}

.like:hover {
  transform: scale(1.1);
}

.teal {
  color: #00fff0;
  text-transform: uppercase;
}

.type {
  color: #bbbbbb;
}

.name {
  color: #e5e5e5;
  font-size: 200%;
  font-weight: bolder;
  text-transform: capitalize;
  display: inline;
}

.by {
  font-size: 40%;
}

.desc {
  color: #e5e5e5;
  margin-bottom: 10px;
  margin-top: 10px;
  font-size: 90%;
}

.count {
  color: #bbbbbb;
}

.container input {
  width: 70%;
  padding: 12px;
  border-radius: 25px;
  margin-bottom: 15px;
  border: none;
  background: #b1d4e0;
}
.container select {
  width: 20%;
  margin-left: 25px;
  padding: 12px;
  border-radius: 25px;
}

.addSnippet {
  font-size: 2.3rem;
  color: #b1d4e0;
  position: relative;
  top: 10px;
  margin-left: 25px;
  transform: scale(1.1);
  transition: 0.2s;
  cursor: pointer;
}

.addSnippet:hover {
  transform: scale(1.2);
  color: white;
}

.tableheaders {
  display: flex;
  justify-content: space-between;
  padding-bottom: 5px;
  border-bottom: 1px solid #04d2ff;
  color: #6c6c6c;
}
.tablerows {
  display: flex;
  justify-content: space-between;
  padding: 20px 0px;
  border-bottom: 1px solid #6c6c6c;
  transition: 0.4s;
}
.tablerows:hover {
  background: rgba(0, 0, 0, 0.4);
}
.likecol {
  width: 7%;
  text-align: center;
  cursor: pointer;
}
.titlecol {
  width: 35%;
  cursor: pointer;
}
.likescol {
  width: 8%;
  text-align: center;
}
.ownercol {
  width: 14%;
  text-align: center;
  text-transform: capitalize;
}
.typecol {
  width: 10%;
  text-align: center;
}
.datecol {
  width: 10%;
  overflow: hidden;
  text-align: center;
}
.linkcol {
  width: 8%;
  text-align: center;
  opacity: 0.7;
  cursor: pointer;
}
.linkcol:hover {
  opacity: 1;
}
.edicol {
  width: 8%;
  text-align: center;
  color: rgb(99, 99, 99);
}
.edit {
  color: white;
  opacity: 0.7;
  cursor: pointer;
}

.edit:hover {
  opacity: 1;
}

.loader {
  text-align: center;
  font-size: 200%;
}

.oops {
  text-align: center;
  font-size: 200%;
  animation-name: fade-in;
  animation-duration: 0.2s;
  animation-delay: 0.4s;
  animation-fill-mode: both;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.formText input {
  margin: 0;
  border: none;
  padding: 5px;
  width: 100%;
  margin-bottom: 5px;
  margin-top: 2px;
  border-radius: 0px;
  background-color: white;
}

.snippetContainer {
  width: 100%;
  display: flex;
  justify-content: stretch;
  align-items: center;
  padding: 10px 10px;
}
.snippetCard {
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: whites;
  border-radius: 50%;
}
.snippetType {
  display: block;
  text-transform: uppercase;
}
.snippetText {
  padding-left: 20px;
  color: grey;
  width: 80%;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.snippetTitle {
  font-size: 3rem;
  color: white;
  font-weight: bolder;
}
.snippetTools {
  padding-top: 15px;
}
.snippetTools button {
  padding: 7px 25px;
  border-radius: 15px;
  border: none;
  letter-spacing: 2px;
  transition: 0.4s;
  color: grey;
  cursor: pointer;
  background: #282828;
  box-shadow: 7px 7px 14px #1d1d1d, -7px -7px 14px #333333;
}

.snippetTools button:hover {
  color: white;
}

.deleteIcon {
  font-size: 150%;
  cursor: pointer;
  transition: 0.4s;
  vertical-align: -9px;
  padding-left: 15px;
  opacity: 0.6;
}

.likedText {
  float: right;
  padding-right: 15px;
}

.liked {
  font-size: 130%;
  cursor: pointer;
  transition: 0.4s;
  vertical-align: -13px;
  margin-left: 15px;
  padding: 6px;
  border-radius: 10px;
  background: #282828;
  box-shadow: 5px 5px 10px #1d1d1d, -5px -5px 10px #333333;
}

.liked:hover {
  color: white;
  opacity: 1;
}

.snippetText button:hover {
  background: #01bbaf;
}

.bgTeal {
  background: #00fff0;
}

.tags {
  width: 95%;
}

.tags-list {
  display: flex;
  flex-wrap: wrap;
  background: rgba(85, 167, 243, 0.1);
  padding: 10px;
  border-radius: 10px;
}

.tags input {
  margin-top: 20px;
  width: 90%;
  border-radius: 20px;
  background: #b1d4e0;
  padding-left: 10px;
}

.del-tag {
  cursor: pointer;
  vertical-align: -2px;
}
.add-tag {
  cursor: pointer;
  color: #b1d4e0;
  font-size: 1.6rem;
  vertical-align: -9px;
  margin-left: 15px;
  background: none;
  border: none;
  display: inline;
  padding: 0px;
}
.add-tag:hover {
  color: #00fff0;
}

.tag {
  background: white;
  color: black;
  border-radius: 25px;
  padding: 4px 10px;
  margin-right: 15px;
  margin-bottom: 5px;
  margin-top: 5px;
  text-transform: capitalize;
}

.tag:hover {
  background: #00fff0;
}

.add-tag-button {
  font-size: 1.5rem;
  vertical-align: -9px;
  margin-left: 10px;
  opacity: 0.5;
  color: white;
  cursor: pointer;
  transition: 0.4s;
}

.add-tag-button:hover {
  opacity: 1;
}

.ot-snippet-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.ot-snippet {
  height: 100px;
  width: 46%;
  /* border: 2px solid black; */
  margin-top: 10px;
  margin-bottom: 15px;
  cursor: pointer;
  padding: 15px;
  border-radius: 20px;
  transition: 0.4s;
  display: flex;
  justify-content: stretch;
  background: #282828;
  box-shadow: 5px 5px 10px #1d1d1d, -5px -5px 10px #333333;
}

.ot-snippet:hover {
  background: #1f1f1f;
  box-shadow: 5px 5px 10px #161616, -5px -5px 10px #282828;
}

.ot-snip-card {
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 50%;
}

.ot-snip-text {
  padding-left: 20px;
  color: grey;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}

.player {
  margin-top: 60px;
}

.loader {
  text-align: center;
  padding: 50px 0px;
}

.comment {
  background: rgba(119, 0, 255, 0.205);
  padding-left: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 10px;
  border-radius: 20px;
}

.comment button {
  float: right;
  padding: 10px;
  border-radius: 5px;
  margin-right: 25px;
}