.page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
  background-color: black;
  transition: 1s;
}

.pageToNav {
  width: 18vw;
  background-color: black;
}

.title {
  transition: 0.5s;
}

.cyan {
  color: #00fff0;
}

.loginForm {
  padding: 25px;
  width: 25vw;
  background-color: black;
  transition: 0.5s;
}

.loginForm h5 {
  color: white;
  text-align: center;
  padding: 0;
  font-weight: lighter;
  letter-spacing: 2px;
}

.inputfield {
  border: none;
  display: block;
  width: 95%;
  margin: 0 auto;
  padding: 12px;
  margin-bottom: 20px;
  font-size: 1rem;
  background-color: black;
  border: 1px solid #00fff0;
  color: #cbfffc;
  text-align: center;
  border-radius: 20px;
}

.inputfield:active,
.inputfield:focus {
  outline: none;
}

.formButtom {
  border: none;
  display: block;
  width: 103%;
  margin: 0 auto;
  margin-top: 30px;
  padding: 11px;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.4s;
  background: none;
  border-radius: 20px;
  color: #00fff0;
}
.formButtom:hover {
  background-color: #00fff0;
  color: black;
  outline: none;
}
.info {
  color: black;
  font-weight: lighter;
  text-align: center;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.4s;
  margin-bottom: 0px;
  color: white;
}
.info:hover {
  transform: scale(1.05);
}
.hide {
  opacity: 0;
}
